.mat-stepper-horizontal {
    height: 100%;
    color: white;
}

.mat-form-field {
    margin-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 25em;
    }
    mat-list {
        margin-bottom: 2em;
        
        mat-icon {
            cursor: pointer;
        }
    }
}