<mat-horizontal-stepper #stepper (keydown.enter)="$event.preventDefault()">
  <mat-step>
    <ng-template matStepLabel> Abendessen </ng-template>

    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile colspan="1" rowspan="7">
          <div class="toggleBtnBar">
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.sweet, 'sweetFilter')" id="sweetFilter">
              <mat-icon matTooltip="Süß" matTooltipPosition="right"> storefront </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.vegetables, 'vegiFilter')" id="vegiFilter">
              <mat-icon matTooltip="Gemüse" matTooltipPosition="right"> grass </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.potatoes, 'breadFilter')" id="breadFilter">
              <mat-icon matTooltip="Brot" matTooltipPosition="right"> breakfast_dining </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.potatoes, 'potatoesFilter')" id="potatoesFilter">
              <mat-icon matTooltip="Kartoffeln" matTooltipPosition="right"> home_mini </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.rice, 'riceFilter')" id="riceFilter">
              <mat-icon matTooltip="Reis" matTooltipPosition="right"> rice_bowl </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.noodles, 'noodlesFilter')" id="noodlesFilter">
              <mat-icon matTooltip="Nudeln" matTooltipPosition="right"> dinner_dining </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.meat, 'meatFilter')" id="meatFilter">
              <mat-icon matTooltip="Fleisch" matTooltipPosition="right"> pets </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.fish, 'fishFilter')" id="fishFilter">
              <mat-icon matTooltip="Fisch" matTooltipPosition="right"> water </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.fastfood, 'fastfoodFilter')" id="fastfoodFilter">
              <mat-icon matTooltip="Fastfood" matTooltipPosition="right"> fastfood </mat-icon>
            </button>
            <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(Category.misc, 'extFilter')" id="extFilter">
              <mat-icon matTooltip="Auswärts, Sonst." matTooltipPosition="right"> food_bank </mat-icon>
            </button>
            <!-- <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(?, '?')" id="?">
              <mat-icon matTooltip="?" matTooltipPosition="right"> spa </mat-icon>
            </button> -->
            <!-- <button mat-mini-fab [style.color]="'grey'" (click)="toggleCategory(?, '?')" id="?">
              <mat-icon matTooltip="?" matTooltipPosition="right"> emoji_food_beverage </mat-icon>
            </button> -->
          </div>
          <div
            cdkDropList
            #availDinnersDL="cdkDropList"
            [cdkDropListData]="availDinners"
            [cdkDropListConnectedTo]="[DL0, DL1, DL2, DL3, DL4, DL5, DL6]"
            class="item-list item-list-large"
            (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let dinner of availDinners">
              <div cdkDrag class="item-box" *ngIf="dinnerApplicable(dinner)">
                {{ dinner.name }}
              </div>
              <div cdkDrag class="item-box-collapsed" *ngIf="!dinnerApplicable(dinner)">
                {{ dinner.name }}
              </div>
            </ng-container>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL0="cdkDropList"[cdkDropListData]="selDinners[0]" [cdkDropListConnectedTo]="[availDinnersDL, DL1, DL2, DL3, DL4, DL5, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[0])">
            <div class="item-box" *ngFor="let dinner of selDinners[0]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL1="cdkDropList" [cdkDropListData]="selDinners[1]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL2, DL3, DL4, DL5, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[1])">
            <div class="item-box" *ngFor="let dinner of selDinners[1]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL2="cdkDropList" [cdkDropListData]="selDinners[2]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL1, DL3, DL4, DL5, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[2])">
            <div class="item-box" *ngFor="let dinner of selDinners[2]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL3="cdkDropList" [cdkDropListData]="selDinners[3]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL1, DL2, DL4, DL5, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[3])">
            <div class="item-box" *ngFor="let dinner of selDinners[3]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL4="cdkDropList" [cdkDropListData]="selDinners[4]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL1, DL2, DL3, DL5, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[4])">
            <div class="item-box" *ngFor="let dinner of selDinners[4]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL5="cdkDropList" [cdkDropListData]="selDinners[5]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL1, DL2, DL3, DL4, DL6]"
            [style.background-image]="assembleBgImageUrl(Weekdays[5])">
            <div class="item-box" *ngFor="let dinner of selDinners[5]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)"
            #DL6="cdkDropList" [cdkDropListData]="selDinners[6]" [cdkDropListConnectedTo]="[availDinnersDL, DL0, DL1, DL2, DL3, DL4, DL5]"
            [style.background-image]="assembleBgImageUrl(Weekdays[6])">
            <div class="item-box" *ngFor="let dinner of selDinners[6]" cdkDrag> {{ dinner.name }} </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  
    <!-- <button mat-raised-button matStepperNext> Next &gt;&gt; </button> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Sonstiges </ng-template>

    <form>
      <mat-form-field appearance="fill">
        <mat-label> Weiteres hinzufügen </mat-label>
        <input matInput placeholder="Apfel x3, Bananen x5, Brot, Klopapier, Milch, ..." autocomplete="off" (keyup.enter)="addToMisc($event)">
      </mat-form-field>
      <mat-list role="list">
        <mat-list-item *ngFor="let miscFood of miscFoods" role="listitem">
          <mat-icon (click)="deleteFromMisc(miscFood)">delete</mat-icon>
          {{miscFood}}
        </mat-list-item>
      </mat-list>
    </form>

    <!-- <button mat-raised-button matStepperPrevious> &lt;&lt; Prev </button>
    <button mat-raised-button matStepperNext> Next &gt;&gt; </button> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Review </ng-template>

    <h4>Einkaufsliste:</h4>
    <p>
      {{ selDinners | json }}
    </p>
    <p>
      {{ miscFoods | json }}
    </p>
    
    <!-- <button mat-raised-button matStepperPrevious>Back</button>
    <button mat-raised-button (click)="stepper.reset()">Reset</button> -->
  </mat-step>
</mat-horizontal-stepper>