<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="dinnersFormGroup" errorMessage="Woche vervollständigen!">
    <ng-template matStepLabel> Abendessen </ng-template>
    <form class="dinners-form" [formGroup]="dinnersFormGroup">
      <mat-form-field *ngFor="let day of WEEKDAYS" appearance="fill">
        <mat-label> {{day}} </mat-label>
        <mat-select [formControlName]="day">
          <mat-option *ngFor="let dinner of dinners" [value]="dinner.id" required>
            {{dinner.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext> Next &gt;&gt; </button>
        <!-- <button mat-button (click)="info()">info</button> -->
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <ng-template matStepLabel> Sonstiges </ng-template>
    <!-- <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
               required>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious> &lt;&lt; Prev </button>
        <button mat-button matStepperNext> Next &gt;&gt; </button>
      </div>
    </form> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>