<mat-horizontal-stepper #stepper (keydown.enter)="$event.preventDefault()">
  <mat-step>
    <ng-template matStepLabel> Abendessen </ng-template>
    <section>
      <!-- <mat-checkbox [(ngModel)]="" (click)="toggleCategory(0)" [checked]="true"> Süß </mat-checkbox>
      <mat-checkbox (click)="toggleCategory(1)" [checked]="true"> Fleisch </mat-checkbox>
      <mat-checkbox (click)="toggleCategory(2)" [checked]="true"> Fisch </mat-checkbox> -->
    </section>
    <div class="example-container">
      <h2>To do</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
      <h2>Done</h2>    
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
    <button mat-raised-button matStepperNext> Next &gt;&gt; </button>
    <!-- <button mat-button (click)="info()">info</button> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Sonstiges </ng-template>
    <form>
      <mat-form-field appearance="fill">
        <mat-label> Weiteres hinzufügen </mat-label>
        <input matInput placeholder="Apfel x3, Bananen x5, Brot, Klopapier, ..." autocomplete="off" (keyup.enter)="addToMisc($event)">
      </mat-form-field>
      <mat-list role="list">
        <mat-list-item *ngFor="let miscFood of miscFoods" role="listitem">
          <mat-icon (click)="deleteFromMisc(miscFood)">delete</mat-icon>
          {{miscFood}}
        </mat-list-item>
      </mat-list>
      <div>
        <button mat-raised-button matStepperPrevious> &lt;&lt; Prev </button>
        <button mat-raised-button matStepperNext> Next &gt;&gt; </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Review </ng-template>
    <!-- <p>
      {{ this.dinnersFormGroup.value | json }}
    </p> -->
    <p>
      {{ this.miscFoods | json }}
    </p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>